html, body {
    color: #333;
    background: #f2f2f2;
    font-family: "Consolas", serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.top {
    
}

.download {
    color: #f2f2f2;
    background: black;
    width: 100%;
    border: 2px solid white;
    margin-right: 25px;
    margin-left: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

#flavortext {
    
}

#downloadtext {
}

.cat {
    height: 100%;
    width: 100%;
}